{% extends "index.html" %} {% block content%}

<div class="container">
  <div class="epaper">
    <img
      class="logo"
      src="{{url_for('static', filename='video-player.svg')}}"
    />
    <h2 class="title">Login</h2>
    <form action="/submit" method="POST">
      {% if message %}
      <p class="message" style="color: #da3434">{{ message }}</p>
      {% endif %}
      <div class="form-floating">
        <input
          name="password"
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <div class="button_wrap">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
