{% extends "index.html" %} {% block content%}

<div class="container">
  <div class="paper">
    <img
      class="logo"
      src="{{url_for('static', filename='video-player.svg')}}"
    />
    <h2 class="title">Welcome to Video Stream</h2>
    <form action="/submit" method="POST">
      {% if message %}
      <p class="message">{{ message }}</p>
      {% endif %}
      <input placeholder="Password" type="password" name="password" />
      <div class="button_wrap">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
