{% extends "index.html" %} {% block content%}
<div class="container" style="flex-direction: column">
  <div class="center">
    <h4>Hello there {{login}}</h4>
    <!-- <div id="static" class="video_contain">
      <h4 class="subtitle">Static Feed</h4>
      <video controls autoplay class="video">
        <source
          src="{{ url_for('static', filename='windmill.mp4') }}"
          type="video/mp4"
        />
      </video>
    </div> -->
    <div id="video" class="video_contain">
      <h4 class="subtitle">Streaming Feed</h4>
      <img
        src="https://13745d77c853.ngrok.io/video_feed"
        style="width: 450px"
      />
    </div>
  </div>

  <a
    id="switch"
    class="btn btn-secondary"
    href="{{url_for('static_feed')}}"
    role="button"
    >Static Feed</a
  >
</div>
{% endblock %}
