{% extends "index.html" %} {% block content%}

<div class="container">
  <div class="video_contain" style="text-align: center">
    <h4 class="subtitle">Static Feed</h4>
    <video controls autoplay class="video">
      <source
        src="{{ url_for('static', filename='windmill.mp4') }}"
        type="video/mp4"
      />
    </video>
    <form method="POST" action="/home">
      <button class="btn btn-secondary" style="margin: 15px 0" type="submit">
        Go Back
      </button>
    </form>
  </div>
</div>
{% endblock %}
